# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Git
.git
.gitignore

# Virtual environments
venv/
env/

# Streamlit config
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore